@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Стиль кнопки отправки */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

/* Стиль контейнера для входных данных */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* Окно сообщения отображается, когда пользователь нажимает на поле пароля */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Добавьте зеленый цвет текста и галочку, когда требования верны */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Добавьте красный цвет текста и букву "x", когда требования неверны */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}



.succes__title {
    color: green;
    text-align: center;
    margin-top: 50px;
}